.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: rgb(37, 37, 35);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.bouton
{
    margin: 50px;
    padding: 50px;
    margin-left: 25%;
}

form
{
    display: inline;
}